# Dependências
node_modules/
frontend/node_modules/
backend/node_modules/

#keys
backend/.env.development

# Logs
logs
*.log
npm-debug.log*

# Diretórios do sistema
.DS_Store
Thumbs.db

# Ambiente
.env

# Build
dist/
build/

# Cache
.cache/